<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的投递</title>
		<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.css" rel="stylesheet">
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
		<style type="text/css">
			*{
				text-decoration: none;
				list-style: none;
			}
			a{
				cursor: pointer;
			}
			.avatar{
				height: 110px;
			}
		</style>
	</head>
	<body>
		<!-- 页头 -->
		<div class="container" id="page-header">
			<nav class="mb-3 navbar navbar-expand-lg navbar-light bg-light shadow-sm">
				<a class="navbar-brand mr-auto" th:href="@{/}">大学生招聘就业网</a>
				<div class="collapse navbar-collapse nav-item">
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown">我是学生</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  	<a class="dropdown-item" th:href="@{/sch}">我是教师</a>
                    		<a class="dropdown-item" th:href="@{/com}">我是HR</a>
						</div>
					</div>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/resume}">我的简历</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" th:href="@{#}">我的投递</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/favorite}">我的收藏</a>
						</li>
					</ul>
				</div>
				<a th:href="@{/logout}"><img th:if="${stu}" class="rounded-circle" th:src="@{''+${stu.img}}" style="width:30px; height: 30px;"></a>
				<button th:unless="${stu}" class="nav-item btn btn-outline-primary" data-toggle="modal" data-target="#login-box">登录</button>
			</nav>
		</div>
		<div class="container">
			<nav class="mb-3">
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" name="" role="tab">全部</a>
					<a class="nav-link" id="nav-applied-tab" data-toggle="tab" href="#nav-applied" name="已投递" role="tab">可撤回</a>
					<a class="nav-link" id="nav-readed-tab" data-toggle="tab" href="#nav-readed" name="已阅读" role="tab">已阅读</a>
					<a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-done" name="已处理" role="tab">已处理</a>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane row-cols-1 fade show active" id="nav-all" role="tabpanel">

				</div>
				<div class="tab-pane fade" id="nav-applied" role="tabpanel">

				</div>
				<div class="tab-pane fade" id="nav-readed" role="tabpanel">

				</div>
				<div class="tab-pane fade" id="nav-done" role="tabpanel">

				</div>
			</div>
		</div>
		<script>
			getApplys("nav-all", "");
			$('#nav-tab>a').on("click", function(){
				getApplys($(this).attr('id').replace("-tab", ""), $(this).attr('name'));
			});
			function getApplys(viewId, status = ''){
				$.ajax({
					type: "POST",
					url: "/applied",
					data: {
						"status":status
					},
					dataType: "json",
					success: function(applys){
						$('#'+viewId).empty();
						for(var i=0; i<applys.length; i++){
							var apply = applys[i];
							var card = '<div class="card col mb-4">'+
									'<div class="card-body">'+
										'<h6 class="card-title">'+apply.job.name+'</h6>'+
										'<p class="card-text"><small>'+apply.posttime+'</small></p>'+
										'<div class="float-right">'+
											'<a class="btn btn-primary" href="/detail/'+apply.job.id+'">职位详情</a> '+
											'<a class="btn btn-secondary" href="/resume">简历详情</a> ';

							if(apply.status == "已投递"){
								card += '<a class="btn btn-danger" href="/revoke/'+apply.id+'">撤回</a>';
							}else{
								card += '<a class="btn btn-danger disabled" href="/revoke/'+apply.id+'">撤回</a>';
							}
							card += '</div>'+
									'</div>'+
								'</div>';
							$('#'+viewId).append(
								card
							);
						}
					}
				})
			}
		</script>
	</body>
</html>
