<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的简历</title>
		<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.css" rel="stylesheet">
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
		<style type="text/css">
			*{
				text-decoration: none;
				list-style: none;
			}
			a{
				cursor: pointer;
			}
			.avatar{
				height: 110px;
			}
		</style>
	</head>
	<body>
		<!-- 页头 -->
		<div class="container" id="page-header">
			<nav class="mb-3 navbar navbar-expand-lg navbar-light bg-light shadow-sm">
				<a class="navbar-brand mr-auto" th:href="@{/}">大学生招聘就业网</a>
				<div class="collapse navbar-collapse nav-item">
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown">我是学生</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  	<a class="dropdown-item" th:href="@{/sch}">我是教师</a>
                    		<a class="dropdown-item" th:href="@{/com}">我是HR</a>
						</div>
					</div>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" th:href="@{#}">我的简历</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/applied}">我的投递</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/favorite}">我的收藏</a>
						</li>
					</ul>
				</div>
				<a th:href="@{/logout}"><img th:if="${stu}" class="rounded-circle" th:src="@{''+${stu.img}}" style="width:30px; height: 30px;"></a>
				<button th:unless="${stu}" class="nav-item btn btn-outline-primary" data-toggle="modal" data-target="#login-box">登录</button>
			</nav>
		</div>
		<!-- 简历正文 -->
		<div class="container my-5">
			<form method="post">
				<div class="row">
					<div class="col-lg-12">
						<h5 class="text-dark">个人信息 :</h5>
						<input id="id" style="display: none" name="id">
						<input id="stu-id" th:value="${stu.id}" style="display: none" name="stu_id">
					</div>
					<div class="col-12 mt-3">
						<div class=" p-4 border rounded">
							<a><img id="avator" class="img-fluid avatar avatar-medium d-block mx-auto rounded-pill"></a>
							<div class="row mt-4">
								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">姓名<span class="text-danger">*</span> :</label>
										<input id="name" type="text" name="name" class="form-control" placeholder="请输入姓名">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">出生年月<span class="text-danger">*</span> :</label>
										<input id="birthday" type="text" name="birthday" class="form-control">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">性别<span class="text-danger">*</span> :</label>
										<input id="gender" type="text"  class="form-control" name="gender">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">婚姻状况</label>
										<input id="marry" type="text" class="form-control" name="marry">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">政治身份</label>
										<input id="political" type="text" class="form-control" name="political">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-5">
					<div class="col-12">
						<h5 class="text-dark">联系信息 :</h5>
					</div>

					<div class="col-12 mt-3">
						<div class=" p-4 border rounded">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">省份</label>
										<input id="province" type="text" class="form-control" name="province">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">城市</label>
										<input id="city" type="text" class="form-control" name="city">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">电话</label>
										<input id="tel" type="text" name="tel" class="form-control resume" placeholder="请输入电话">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">电子邮件</label>
										<input id="email" type="email" name="email" class="form-control resume" placeholder="username@example.com">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group app-label">
										<label class="text-muted">个人网站</label>
										<input id="website" type="url" name="web" class="form-control resume" placeholder="www.example.com">
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group app-label">
										<label>详细住址</label>
										<textarea id="address" rows="4" name="address" class="form-control resume" placeholder=""></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<h5 class="text-dark mt-5">教育经历 :</h5>
						<input id="edu-id" style="display: none" name="stu_id">
					</div>

					<div class="col-12 mt-3">
						<div class=" p-4 border rounded">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group app-label">
										<label class="text-muted">毕业院校</label>
										<input id="edu-university" type="text" name="edus.university" class="form-control resume" placeholder="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group app-label">
										<label class="text-muted">所获学位</label>
										<input id="edu-degree" type="text" name="degree" class="form-control resume" placeholder="">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group app-label">
										<label class="text-muted">所读专业</label>
										<input id="edu-major" type="text" name="major" class="form-control resume" placeholder="">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group app-label">
												<label class="text-muted">英语等级</label>
												<input id="edu-eng" type="text" class="form-control" name="englevel">
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group app-label">
												<label class="text-muted">主修课程</label>
												<input id="edu-course" type="text" class="form-control resume" name="edu.course">
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group app-label">
										<label>经历描述 :</label>
										<textarea id="edu-desc" rows="4" class="form-control resume" name="edu.descp"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 mt-5">
						<h5 class="text-dark">工作经历 :</h5>
						<input id="work-id" style="display: none" name="stu_id">
					</div>
					<div class="col-12 mt-3">
						<div class=" p-4 border rounded">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group app-label">
										<label class="text-muted">公司名称</label>
										<input id="work-com" type="text" class="form-control resume" name="company">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group app-label">
										<label class="text-muted">工作职位</label>
										<input id="work-job" type="text" class="form-control resume" name="position">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group app-label">
										<label class="text-muted">工作城市</label>
										<input id="work-city" type="text" class="form-control" name="wcity">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group app-label">
												<label class="text-muted">入职日期</label>
												<input id="work-start" type="text" class="form-control resume" name="startTime" placeholder="01-Jan-2018">
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group app-label">
												<label class="text-muted">离职日期</label>
												<input id="work-end" type="text" class="form-control resume" name="endTime" placeholder="31-March-2020">
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group app-label">
										<label>工作内容 :</label>
										<textarea id="work-desc" rows="4" class="form-control resume" name="info" ></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-12 mt-5">
						<h5 class="text-dark">技能 :</h5>
						<input id="skill-id" style="display: none" name="stu_id">
					</div>

					<div class="col-12 mt-3">
						<div class=" p-4 border rounded">
							<form>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group app-label">
											<label class="text-muted">专业技能</label>
											<input id="skill-name" type="text" class="form-control resume" name="skills.skill" placeholder="HTML, CSS, PHP, javascript, ...">
										</div>
									</div>

									<div class="col-lg-12">
										<div class="form-group app-label">
											<label class="text-muted">掌握程度</label>
											<input id="skill-level" type="text" class="form-control resume" name="skills.level" placeholder="75%">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="col-12 mt-4">
						<input type="button" id="submit" onclick="updateResume()" class="submitBnt btn btn-primary" value="保存简历">
					</div>
				</div>
			</form>
		</div>
		<script >
			loadResume();
			function loadResume(){
				$.ajax({
					type: "POST",
					url: "/getresume",
					data: {
					},
					dataType: "json",
					success: function (data) {
						console.log(data[0]);
						if(data.length == 0){
							return;
						}
						var resume = data[0];
						$("#id").val(resume.id);
						// $("#stu-id").val(resume.stu_id);
						$("#avator").prop("src", resume.avator);
						$("#name").val(resume.name);
						$("#birthday").val(resume.birthday);
						$("#gender").val(resume.gender);
						$("#marry").val(resume.marry);
						$("#political").val(resume.political);
						$("#province").val(resume.province);
						$("#city").val(resume.city);
						$("#tel").val(resume.tel);
						$("#email").val(resume.email);
						$("#website").val(resume.web);
						$("#address").text(resume.address);
						var edu = resume.edus[0];
						$("#edu-university").val(edu.university);
						$("#edu-id").val(edu.id);
						$("#edu-degree").val(edu.degree);
						$("#edu-major").val(edu.major);
						$("#edu-eng").val(edu.englevel);
						$("#edu-course").val(edu.course);
						$("#edu-desc").text(edu.descp);
						var work = resume.works[0];
						$("#work-id").val(work.id);
						$("#work-com").val(work.company);
						$("#work-job").val(work.position);
						$("#work-city").val(work.wcity);
						$("#work-start").val(work.startTime);
						$("#work-end").val(work.endTime);
						$("#work-desc").val(work.info);
						var skill = resume.skills[0];
						$("#skill-id").val(skill.id);
						$("#skill-name").val(skill.skill);
						$("#skill-level").val(skill.level);
					}
				});
			}
			function updateResume(){
				$.ajax({
					type: "POST",
					url: "/resume",
					contentType: "application/json",
					data: JSON.stringify({
						"id" : $("#id").val(),
						"stu_id" : $("#stu-id").val(),
						"avator" : $("#avator").prop("src"),
						"name" : $("#name").val(),
						"birthday" : $("#birthday").val(),
						"gender" : $("#gender").val(),
						"marry" : $("#marry").val(),
						"political" : $("#political").val(),
						"province" : $("#province").val(),
						"city" : $("#city").val(),
						"tel" : $("#tel").val(),
						"email" : $("#email").val(),
						"web" : $("#website").val(),
						"address" : $("#address").text(),
						"edus" : [{
							"id" : $("#edu-id").val(),
							"stu_id" : $("#stu-id").val(),
							"university": $("#edu-university").val(),
							"degree": $("#edu-degree").val(),
							"major": $("#edu-major").val(),
							"englevel": $("#edu-eng").val(),
							"course": $("#edu-course").val(),
							"descp": $("#edu-desc").text()
						}],
						"works": [{
							"id": $("#work-id").val(),
							"stu_id": $("#stu-id").val(),
							"company": $("#work-com").val(),
							"position": $("#work-job").val(),
							"wcity": $("#work-city").val(),
							"startTime": $("#work-start").val(),
							"endTime": $("#work-end").val(),
							"info": $("#work-desc").val()
						}],
						"skills": [{
							"id": $("#skill-id").val(),
							"stu_id": $("#stu-id").val(),
							"skill": $("#skill-name").val(),
							"level": $("#skill-level").val()
						}]
					}),
					dataType: "json",
					success: function (data) {
						console.log("123");
						loadResume();
						$('body,html').animate({
							scrollTop: 0
						}, 200);
					}
				});
			}
		</script>
	</body>
</html>
