<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>授权管理</title>
		<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.css" rel="stylesheet">
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
		<style type="text/css">
			* {
				text-decoration: none;
				list-style: none;
			}

			html,
			body {
				height: 100%;
			}

			a {
				cursor: pointer;
			}

			#login-box .modal-dialog {
				width: 360px;
			}

			.carousel-item img {
				height: 400px;
			}
		</style>
	</head>
	<body>
		<!-- 页头 -->
		<div class="container" id="page-header">
			<nav class="mb-3 navbar navbar-expand-lg navbar-light bg-light shadow-sm">
				<a class="navbar-brand mr-auto" th:href="@{/}">大学生招聘就业网</a>
				<div class="collapse navbar-collapse nav-item">
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown">我是教师</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/}">我是学生</a>
							<a class="dropdown-item" th:href="@{/com}">我是HR</a>
						</div>
					</div>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/sch/stumng}">学生管理</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" th:href="@{#}">授权管理</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/sch/analyser}">数据查看</a>
						</li>
					</ul>
				</div>
				<a th:href="@{/sch/logout}"><img th:if="${teacher}" class="rounded-circle" th:src="@{''+${teacher.img}}" style="width:30px; height: 30px;"></a>
			</nav>
		</div>
		<!-- 页身 -->
		<div class="container">
			<nav class="mb-3">
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-link active" id="nav-applying-tab" name="申请中" data-toggle="tab" href="#nav-applying" role="tab">申请中</a>
					<a class="nav-link" id="nav-granted-tab" name="已授权" data-toggle="tab" href="#nav-granted" role="tab">已授权</a>
				</div>
			</nav>
			<div class="tab-content">
				<div class="tab-pane fade show active row-cols-1" id="nav-applying" role="tabpanel">

				</div>
				<div class="tab-pane fade row-cols-1" id="nav-granted" role="tabpanel">

				</div>
			</div>
		</div>
		<script>
			getCredits("nav-applying", "申请中");
			$('#nav-tab>a').on("click", function(){
				getCredits($(this).attr('id').replace("-tab", ""), $(this).attr('name'));
			});
			function getCredits(viewId, status){
				$.ajax({
					type: "POST",
					url: "/sch/credit",
					data: {
						"status":status
					},
					dataType: "json",
					success: function(credits){
						$('#'+viewId).empty();
						for(var i=0; i<credits.length; i++){
							var credit = credits[i];
							var card = '<div class="col mb-4 card">'+
											'<div class="card-body">'+
												'<h5 class="card-title">'+credit.company.name+'</h5>'+
												'<p><small class="text-muted">'+credit.settime+'</small></p>'+
												'<p>'+credit.status+'</p>'+
												'<div class="float-right">';
							if(credit.status == "申请中"){
								card += '<a class="btn btn-primary" href="/sch/credit/'+credit.id+'">授权</a>';
							}else if(credit.status == "已授权"){
								card += '<a class="btn btn-primary" href="/sch/revoke/'+credit.id+'">撤销</a>';
							}
							card += '</div>'+
											'</div>'+
										'</div>';
							$('#'+viewId).append(
								card
							);
						}
					}
				});
			}
		</script>
	</body>
</html>
