<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carry.recruitment.mapper.ApplyMapper">
    <select id="getApplys" resultMap="ApplyMap">
        select * from t_applied where stu_id=#{stu_id} and status like concat('%', #{status}, '%');
    </select>
    <resultMap id="ApplyMap" type="Apply">
        <association property="job" column="job_id" javaType="Job" select="com.carry.recruitment.mapper.JobMapper.getJob">
        </association>
        <association property="resume" column="resume_id" javaType="Resume" select="com.carry.recruitment.mapper.ResumeMapper.getResume">
        </association>
    </resultMap>
    <select id="getAppliesByComId" resultMap="ApplyMap">
        select * from t_applied where company_id = #{company_id} and status like concat('%', #{status}, '%');
    </select>
    <insert id="apply">
        insert into t_applied(stu_id, posttime, status, job_id, resume_id, company_id) values(
            #{stu_id}, #{posttime}, #{status}, #{job.id}, #{resume.id}, (select company_id from t_job where id = #{job.id})
        );
    </insert>
    <delete id="revoke">
        delete from t_applied where id=#{id}
    </delete>

    <update id="setStatus">
        update t_applied
            set status = #{status}
            where id = #{id};
    </update>
    <select id="getApplyByStuId" resultType="Apply">
        select * from t_applied where stu_id = #{stu_id} and job_id = #{job_id};
    </select>
    <select id="getCategoryNum" resultType="java.util.Map">
        select j.category as name, count(a.id) as value from t_applied a, t_job j where a.status in ("已拒绝", "已录取") and a.job_id = j.id group by j.category;
    </select>
    <select id="getMajorNum" resultType="java.util.Map">
        select s.major as name, count(a.id) as value from t_applied a, t_stu s where a.status in ("已拒绝", "已录取") and a.stu_id = s.id group by s.major;
    </select>
</mapper>