<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carry.recruitment.mapper.HrMapper">
    <select id="login" resultMap="HrMap">
        select * from t_hr where username = #{username};
    </select>
    <resultMap id="HrMap" type="Hr">
        <association property="company" column="company_id" javaType="Company" select="com.carry.recruitment.mapper.CompanyMapper.getCompany">
        </association>
    </resultMap>

</mapper>