<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>投递管理</title>
		<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.css" rel="stylesheet">
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
		<style type="text/css">
			*{
				text-decoration: none;
				list-style: none;
			}
			a{
				cursor: pointer;
			}
			.avatar{
				height: 110px;
			}
		</style>
	</head>
	<body>
		<!-- 页头 -->
		<div class="container" id="page-header">
			<nav class="mb-3 navbar navbar-expand-lg navbar-light bg-light shadow-sm">
				<a class="navbar-brand mr-auto" th:href="@{/}">大学生招聘就业网</a>
				<div class="collapse navbar-collapse nav-item">
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown">我是HR</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" th:href="@{/}">我是学生</a>
						  <a class="dropdown-item" th:href="@{/sch}">我是老师</a>
						</div>
					</div>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/com/cominfo}">公司信息</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/com/mng}">职位管理</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" th:href="@{#}">投递管理</a>
						</li>
					</ul>
				</div>
				<a th:href="@{/com/logout}"><img th:if="${company}" class="rounded-circle" th:src="@{''+${company.logo}}" style="width:30px; height: 30px;"></a>
			</nav>
		</div>
		<div class="container">
			<nav class="mb-3">
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <a class="nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" name="" role="tab">全部</a>
			    <a class="nav-link" id="nav-notdone-tab" data-toggle="tab" href="#nav-notdone" name="已阅读" role="tab">未处理</a>
			    <a class="nav-link" id="nav-refused-tab" data-toggle="tab" href="#nav-refused" name="已拒绝" role="tab">已拒绝</a>
				<a class="nav-link" id="nav-admited-tab" data-toggle="tab" href="#nav-admited" name="已录取" role="tab">已录取</a>
			  </div>
			</nav>
			<div class="tab-content">
				<div class="tab-pane fade row-cols-1 show active" id="nav-all" role="tabpanel">

				</div>
				<div class="tab-pane fade row-cols-1" id="nav-notdone" role="tabpanel">

				</div>
				<div class="tab-pane fade row-cols-1" id="nav-refused" role="tabpanel">

				</div>
				<div class="tab-pane fade row-cols-1" id="nav-admited" role="tabpanel">

				</div>
			</div>
			<div class="modal hide" id="resume-detail">
				<div class="modal-dialog modal-xl modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">简历</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="text-dark">个人信息 :</h5>
								</div>
								<div class="col-12 mt-3">
									<div class=" p-4 border rounded">
										<a><img id="avator" class="img-fluid avatar avatar-medium d-block mx-auto rounded-pill"></a>
										<div class="row mt-4">
											<div class="col-md-4">
												<div id="name" class="form-group app-label">
													<label class="text-muted">姓名<span class="text-danger">*</span> :</label>
													<span type="text" class="form-control"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div id="birthday" class="form-group app-label">
													<label class="text-muted">出生年月<span class="text-danger">*</span> :</label>
													<span type="text" name="birthday" class="form-control"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div id="gender" class="form-group app-label">
													<label class="text-muted">性别<span class="text-danger">*</span> :</label>
													<span type="text"  class="form-control" name="gender"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div id="marry" class="form-group app-label">
													<label class="text-muted">婚姻状况</label>
													<span type="text" class="form-control" name="marry"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div id="political" class="form-group app-label">
													<label class="text-muted">政治身份</label>
													<span type="text" class="form-control" name="political"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row mt-5">
								<div class="col-12">
									<h5 class="text-dark">联系信息 :</h5>
								</div>

								<div class="col-12 mt-3">
									<div class=" p-4 border rounded">
										<div class="row">
											<div class="col-md-4">
												<div id="province" class="form-group app-label">
													<label class="text-muted">省份</label>
													<span type="text" class="form-control" name="province"></span>
												</div>
											</div>

											<div class="col-md-4">
												<div id="city" class="form-group app-label">
													<label class="text-muted">城市</label>
													<span type="text" class="form-control" name="city"></span>
												</div>
											</div>

											<div class="col-md-4">
												<div id="tel" class="form-group app-label">
													<label class="text-muted">电话</label>
													<span type="text" name="tel" class="form-control resume"></span>
												</div>
											</div>

											<div class="col-md-4">
												<div id="email" class="form-group app-label">
													<label class="text-muted">电子邮件</label>
													<span type="email" name="email" class="form-control resume"></span>
												</div>
											</div>

											<div class="col-md-6">
												<div id="website" class="form-group app-label">
													<label class="text-muted">个人网站</label>
													<span type="url" name="web" class="form-control resume"></span>
												</div>
											</div>

											<div class="col-lg-12">
												<div id="address" class="form-group app-label">
													<label>详细住址</label>
													<span name="address" class="form-control resume"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12">
									<h5 class="text-dark mt-5">教育经历 :</h5>
								</div>

								<div class="col-12 mt-3">
									<div class=" p-4 border rounded">
										<div class="row">
											<div class="col-md-6">
												<div id="graduation" class="form-group app-label">
													<label class="text-muted">毕业院校</label>
													<span type="text" name="edus.university" class="form-control resume"></span>
												</div>
											</div>
											<div class="col-md-6">
												<div id="degree"  class="form-group app-label">
													<label class="text-muted">所获学位</label>
													<span type="text" name="degree" class="form-control resume"></span>
												</div>
											</div>

											<div class="col-lg-6">
												<div id="major" class="form-group app-label">
													<label class="text-muted">所读专业</label>
													<span id="degree/certification" type="text" name="major" class="form-control resume"></span>
												</div>
											</div>

											<div class="col-lg-6">
												<div class="row">
													<div class="col-md-6">
														<div id="eng_level" class="form-group app-label">
															<label class="text-muted">英语等级</label>
															<span type="text" class="form-control" name="englevel"></span>
														</div>
													</div>

													<div class="col-md-6">
														<div id="course" class="form-group app-label">
															<label class="text-muted">主修课程</label>
															<span type="text" class="form-control resume" name="edu.course" ></span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-12">
												<div id="edu-descp" class="form-group app-label">
													<label>经历描述 :</label>
													<span class="form-control resume" name="edu.descp"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-12 mt-5">
									<h5 class="text-dark">工作经历 :</h5>
								</div>
								<div class="col-12 mt-3">
									<div class=" p-4 border rounded">
										<div class="row">
											<div class="col-md-6">
												<div id="company-name" class="form-group app-label">
													<label class="text-muted">公司名称</label>
													<span type="text" class="form-control resume" name="company"></span>
												</div>
											</div>

											<div class="col-md-6">
												<div id="job-position" class="form-group app-label">
													<label class="text-muted">工作职位</label>
													<span type="text" class="form-control resume" name="position"></span>
												</div>
											</div>

											<div class="col-lg-6">
												<div id="work-city" class="form-group app-label">
													<label class="text-muted">工作城市</label>
													<span type="text" class="form-control" name="wcity" ></span>
												</div>
											</div>

											<div class="col-lg-6">
												<div class="row">
													<div class="col-md-6">
														<div id="work-start" class="form-group app-label">
															<label class="text-muted">入职日期</label>
															<span type="text" class="form-control resume" name="startTime"></span>
														</div>
													</div>

													<div class="col-md-6">
														<div id="work-end" class="form-group app-label">
															<label class="text-muted">离职日期</label>
															<span type="text" class="form-control resume" name="endTime"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-12">
												<div id="work-info" class="form-group app-label">
													<label>工作内容 :</label>
													<span class="form-control resume" name="info"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-12 mt-5">
									<h5 class="text-dark">技能 :</h5>
								</div>

								<div class="col-12 mt-3">
									<div class=" p-4 border rounded">
										<form>
											<div class="row">
												<div class="col-lg-12">
													<div id="skill-name" class="form-group app-label">
														<label class="text-muted">专业技能</label>
														<span type="text" class="form-control resume" name="skills.skill"></span>
													</div>
												</div>

												<div class="col-lg-12">
													<div id="skill-level" class="form-group app-label">
														<label class="text-muted">掌握程度</label>
														<span id="skill_proficiency" type="text" class="form-control resume" name="skills.level"></span>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			getApplys("nav-all");
			var current_tag;
			var current_status;
			$('#nav-tab>a').on("click", function(){
				getApplys($(this).attr('id').replace("-tab", ""), $(this).attr('name'));
			});
			function getApplys(viewId, status = ''){
				current_tag = viewId;
				current_status = status;
				$.ajax({
					type: "POST",
					url: "/com/posted",
					data: {
						"status":status
					},
					dataType: "json",
					success: function(data){
						var applys = data.applys;
						var words = data.words;
						$('#'+viewId).empty();
						for(var i=0; i<applys.length; i++) {
							var word = words[i];
							var apply = applys[i];
							var card = 	'<div class="card mb-3">'+
											'<div class="card-body">'+
												'<h6 class="card-title">'+apply.job.name+'</h6>'+
												'<p class="card-text">'+apply.resume.name+'</p>'+
												'<p class="card-text"><small>'+apply.posttime+'</small></p><div>'

							for(var j=0; j<word.length; j++){
								card += '<span class="badge badge-pill badge-info mx-1" style="font-size: 15px">'+words[i][j]+'</span>';
							}
							card += '</div><div class="float-right">'+
									'<a class="btn btn-primary" href="/com/jobinfo/'+apply.job.id+'">职位详情</a> '+
									'<a class="btn btn-info resume" href="javascript:void(0);"  onclick="resumeDetail('+apply.resume.id+')">简历详情</a> ';

							if(apply.status != "已录取" && apply.status != "已拒绝"){
								card += '<a class="btn btn-success" href="javascript:void(0);" onclick="accept('+apply.id+')">录取</a> '+
										'<a class="btn btn-danger" href="javascript:void(0);" onclick="refuse('+apply.id+')">拒绝</a>';
							}
							if(apply.status == "已录取"){
								card += '<a class="btn btn-success disabled">已录取</a>';
							}else if(apply.status == "已拒绝") {
								card += '<a class="btn btn-danger disabled">已拒绝</a>';
							}
							card += '</div>'+
									'</div>'+
									'</div>';

							$('#'+viewId).append(
								card
							);
						}
					}
				});
			}

			function accept(id){
				$.ajax({
					type: "POST",
					url: "/com/accept",
					data: {
						id: id
					},
					dataType: "json",
					success: function(data){
						getApplys(current_tag, current_status);
					}
				});
			}
			function refuse(id){
				$.ajax({
					type: "POST",
					url: "/com/refuse",
					data: {
						id: id
					},
					dataType: "json",
					success: function(data){
						getApplys(current_tag, current_status);
					}
				});
			}

			function resumeDetail(id){
				$.ajax({
					type: "POST",
					url: "/com/resume",
					data: {
						"id":id
					},
					dataType: "json",
					success: function(resume){
						var edu = resume.edus[0];
						var work = resume.works[0];
						var skill = resume.skills[0];
						$("#avator").prop("src", resume.avator);
						$("#name>span").text(resume.name);
						$("#birthday>span").text(resume.birthday);
						$("#gender>span").text(resume.gender);
						$("#marry>span").text(resume.marry);
						$("#political>span").text(resume.political);
						$("#province>span").text(resume.province);
						$("#city>span").text(resume.city);
						$("#tel>span").text(resume.tel);
						$("#email>span").text(resume.email);
						$("#website>span").text(resume.web);
						$("#address>span").text(resume.address);
						$("#graduation>span").text(edu.university);
						$("#degree>span").text(edu.degree);
						$("#major>span").text(edu.major);
						$("#eng_level>span").text(edu.englevel);
						$("#course>span").text(edu.course);
						$("#edu-descp>span").text(edu.descp);
						$("#company-name>span").text(work.company);
						$("#job-position>span").text(work.position);
						$("#work-city>span").text(work.wcity);
						$("#work-start>span").text(work.startTime);
						$("#work-end>span").text(work.endTime);
						$("#work-info>span").text(work.info);
						$("#skill-name>span").text(skill.skill);
						$("#skill-level>span").text(skill.level);
						$("#resume-detail").modal('show');
					}
				});
			}
		</script>
	</body>
</html>
